*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.emojis{
    font-size: 18rem;
    cursor: pointer;
    user-select: none;
}

.close{
    display: none;
}

.open{
    display: none;
}

.active{
    display: block;
}